{% load staticfiles %}

<html>
    
<head>
    <title>Service Queues</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
    
    
    <script type="text/javascript">
    window.setTimeout("redirectpage();", 10000);    
    function redirectpage(){
    window.top.location.href = '/ophouse/queue?servicetype={{servicetype}}';
    }
    </script>
    <script>
    function clicked() {
    return confirm('Click Ok to Complete, Cancel to go back.');}
</script>
</head>
<body>
<div class="container">
<c><small> charliewp/Guestbook uses the GNU GPL v3.0 [v20180416]</small></c>
</div>
{% if message %}
   <p style="color: red;">
   {{message}}
   </p>
{% endif %}
{% if error %}
   <p style="color: red;">
   {{error}}
   </p>
{% endif %}
<div class="container" >
  <div class="divTable" style="width:100%;padding:10px;">
    <div class="divTableBody">
                         <div class="divTableRow">
                            <div class="divTableCell" style="padding:10px">
                               <c3>Select a queue to watch / Selecciona una cola para mirar</c3>
                            </div>
                         </div>
                         <div class="divTableRow">
                            <div class="divTableCell" style="width:10%">
                                  {% for tup in servicelinks %}
                                    {% if tup.2 == 0 %}
                                      {% if tup.0 == servicetype %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching">{{tup.1}}{{ tup.3 }}</button></a>
                                      {% else %}
                                         <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline">{{tup.1}}{{ tup.3 }}</button></a>                                       
                                      {% endif %}   
                                    {% endif %}
                                    {% if tup.2 == 1 %}
                                      {% if tup.0 == servicetype %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-watching">{{tup.1}}{{ tup.3 }}</button></a>
                                      {% else %}
                                        <a class="btn:hover" href="/ophouse/queue?servicetype={{tup.0}}"><button class="gbcheckbox-inline-highlight">{{tup.1}}{{ tup.3 }}</button></a>                                    
                                      {% endif %}  
                                    {% endif %}    
                                  {% endfor %}
                            </div>
                         </div>
    </div>                     
  </div>
</div>
<div class="container">

{% csrf_token %}
<div class="divTable" style="width:100%">
                            <div class="divTableBody">
                               {% if queuesize > 0 %}
                               <div class="divTableRow">
                                  <div class="divTableCell" style="width:100%;padding:10px">
                                     <c3>{{ queuemessage }} Select client to complete service</c3>
                                  </div>
                               </div>
                               {% endif %}
                               <div class="divTableRow">
                                 <div class="divTableCell" style="width:100%">
                                   <div>                                    
                                      {% for choice in form.services.field.choices %}
                                           <div class="cel" style="padding:5px;width=10%">
                                             <form method="post" action="/ophouse/queue?servicetype={{servicetype}}" onsubmit="return clicked();">
                                               {%csrf_token%}
                                               {% if forloop.counter == 1 %}
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline-nextup" >{{choice.1}}</button>
                                               {% else %}
                                                 <input type="radio" name="services" hidden="true" value="{{choice.0}}" checked="checked"/>
                                                 <button class="gbcheckbox-inline" >{{choice.1}}</button>
                                               {% endif %}
                                             </form>
                                           </div>
                                       {% endfor %}
                                    
                                   </div>
                                 </div>
                               </div>
                               <!--was
                               <div class="divTableRow">
                                 <div class="divTableCell" style="width:100%">
                                 <div>
                                  {% for choice_id, choice_label in form.services.field.widget.choices %}
                                     <label for="id_options_{{ choice_id }}" class="checkbox-inline">
                                     {% if forloop.counter == 1 %}
                                       <input  type="checkbox" id="id_options_{{ choice_id }}" value="{{ choice_id }}" name="services" {% if choice_id in form.services.value  %} checked="checked"{% endif %}/>
                                       <span class="gbcheckbox-inline-nextup">{{choice_label}}</span>
                                     {% else %}
                                       <input  type="checkbox" id="id_options_{{ choice_id }}" value="{{ choice_id }}" name="services" {% if choice_id in form.services.value  %} checked="checked"{% endif %}/>
                                       <span class="gbcheckbox-inline">{{choice_label}}</span>
                                     {% endif %}
                                     </label>
                                  {% endfor %}
                                </div>
                                 </div>
                               </div>
                               -->
                            </div>
</div>
</form>
</div>
</body>
</html>