{% load staticfiles %}
<html>
<head>
    <title>Device Select</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/guestbook.css' %}">
</head>
<body>
{% if message %}
   <p style="color: red;">
   <h2>{{message}}</h2>
   </p>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
            <h1></h1>
            <div style="width:100%">
                <form name="login" action="/ophouse/signin/" method="get">
                  {%csrf_token%}
                  <button class="btn-primary" style="width:100%">Start a Client Kiosk </button>
                </form>
            </div>
            <div style="width:100%">
                <form name="login" action="/ophouse/queue?servicetype=1" method="get">
                  {%csrf_token%}
                  <button class="btn-primary" style="width:100%">Start a Volunteer Workstation</button>
                </form>
            </div>
            <div style="width:100%">
                <form name="login" action="/ophouse/staffqueue/" method="get">
                  {%csrf_token%}
                  <button class="btn-primary" style="width:100%">View all Service Queues</button>
                </form>
            </div>
            <div style="width:100%">
                <form name="login" action="/ophouse/staff/" method="get">
                  {%csrf_token%}
                  <button class="btn-primary" style="width:100%">Start a Staff Portal</button>
                </form>
            </div>
            
</body>
</html>